@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.pane{
    -fx-font-family: 'Roboto';
    -fx-background-radius: 20px;
}

.left-side {
    -fx-background-color: #E8175D;
}

.welcome-text{
    -fx-font-family: 'Roboto';
    -fx-font-size: 23px;
}

.login-header{
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

.username-box, .password-box{
    -fx-min-height: 40px;
    -fx-background-radius: 15px;
    -fx-font-size: 16px;
}

.btn-log{
    -fx-background-radius: 15px;
    -fx-background-color: #2F9599;
    -fx-font-size: 16px;
}

.btn-log:hover{
    -fx-background-color: #297579;
}

.exit-btn{
    -fx-background-radius: 10px;
    -fx-font-size: 16px;
    -fx-background-color: #E8175D;
}

.right-side{
    -fx-background-color: #ffffff;
}

.exit-btn:hover{
    -fx-background-color: #bb144d;
}

.exit-btn:focused{
    -fx-background-color: #e87a78;
}